<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>FFLogs Anabaseios Raid Tier Graphs (showing top 100 character rankings)</title>
    <link rel="stylesheet" href="static/styler.css">
    <style>
    body {
  background-image: url('static/endwalker.png');
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  }
    </style>
</head>

<body>
    <h1>FFLogs Anabaseios Raid Tier Graphs</h1>
    <p>This website shows a collection of interactive graphs which allow the user to change which metrics they are observing for the top 100 rankings of each fight.</p>
    <h3>Key</h3>
    <p>rDPS (raid DPS) - rDPS is unique to FFXIV and is damage done adjusted for raid-contributing buffs and debuffs.</p>
    <p>nDPS (normal DPS) - nDPS is unique to FFXIV and is damage done adjusted for raid-contributing buffs and debuffs so that they do not contribute.</p>
    <p>HPS - Healing per second.</p>
    <h3>P9S - Kokytos</h3>
        <!-- Tab links -->
        <div class="tab">
          <button class="tablinks" onclick="openTab(event, 'rDPS')">rDPS</button>
          <button class="tablinks" onclick="openTab(event, 'nDPS')">nDPS</button>
          <button class="tablinks" onclick="openTab(event, 'HPS')">HPS</button>
        </div>

        <!-- Tab content -->
        <div id="rDPS" class="tabcontent">
          <h3>rDPS</h3>
            <p>rDPS rankings for P9S</p>
            <img src="../static/graphone.png">
        </div>

        <div id="nDPS" class="tabcontent">
          <h3>nDPS</h3>
            <p>nDPS rankings for P9S</p>
            <img src="../static/graphtwo.png">
        </div>

        <div id="HPS" class="tabcontent">
          <h3>HPS</h3>
            <p>HPS rankings for P9S</p>
            <img src="../static/graphthree.png">
        </div>
    <h3>P10S - Pandaemonium</h3>
        <div class="tab">
          <button class="tablinks" onclick="openTab(event, 'rDPS')">rDPS</button>
          <button class="tablinks" onclick="openTab(event, 'nDPS')">nDPS</button>
          <button class="tablinks" onclick="openTab(event, 'HPS')">HPS</button>
        </div>

        <div id="rDPS" class="tabcontent">
          <h3>rDPS</h3>
            <p>rDPS rankings for P10S</p>
            <img src="../static/graphfour.png">
        </div>

        <div id="nDPS" class="tabcontent">
          <h3>nDPS</h3>
            <p>nDPS rankings for P10S</p>
            <img src="../static/graphfive.png">
        </div>

        <div id="HPS" class="tabcontent">
          <h3>HPS</h3>
            <p>HPS rankings for P10S</p>
            <img src="../static/graphsix.png">
        </div>

    <h3>P11S - Themis</h3>
        <div class="tab">
          <button class="tablinks" onclick="openTab(event, 'rDPS')">rDPS</button>
          <button class="tablinks" onclick="openTab(event, 'nDPS')">nDPS</button>
          <button class="tablinks" onclick="openTab(event, 'HPS')">HPS</button>
        </div>

        <div id="rDPS" class="tabcontent">
          <h3>rDPS</h3>
            <p>rDPS rankings for P11S</p>
            <img src="../static/graphseven.png">
        </div>

        <div id="nDPS" class="tabcontent">
          <h3>nDPS</h3>
            <p>nDPS rankings for P11S</p>
            <img src="../static/grapheight.png">
        </div>

        <div id="HPS" class="tabcontent">
          <h3>HPS</h3>
            <p>HPS rankings for P11S</p>
            <img src="../static/graphnine.png">
        </div>
    <h3>P12S P1 - Athena</h3>
        <div class="tab">
          <button class="tablinks" onclick="openTab('rDPS')">rDPS</button>
          <button class="tablinks" onclick="openTab('nDPS')">nDPS</button>
          <button class="tablinks" onclick="openTab('HPS')">HPS</button>
        </div>

        <div id="rDPS" class="tabcontent">
          <h3>rDPS</h3>
            <p>rDPS rankings for P12SP1</p>
            <img src="../static/graphten.png">
        </div>

        <div id="nDPS" class="tabcontent">
          <h3>nDPS</h3>
            <p>nDPS rankings for P12SP1</p>
            <img src="../static/grapheleven.png">
        </div>

        <div id="HPS" class="tabcontent">
          <h3>HPS</h3>
            <p>HPS rankings for P12SP1</p>
            <img src="../static/graphtwelve.png">
        </div>
    <h3>P12S P2 - Pallas Athena</h3>
        <div class="tab">
          <button class="tablinks" onclick="openTab(event, 'rDPS')">rDPS</button>
          <button class="tablinks" onclick="openTab(event, 'nDPS')">nDPS</button>
          <button class="tablinks" onclick="openTab(event, 'HPS')">HPS</button>
        </div>

        <div id="rDPS" class="tabcontent">
          <h3>rDPS</h3>
            <p>rDPS rankings for P12SP2</p>
            <img src="../static/graphthirteen.png">
        </div>

        <div id="nDPS" class="tabcontent">
          <h3>nDPS</h3>
            <p>nDPS rankings for P12SP2</p>
            <img src="../static/graphfourteen.png">
        </div>

        <div id="HPS" class="tabcontent">
          <h3>HPS</h3>
            <p>HPS rankings for P12SP2</p>
            <img src="../static/graphfifteen.png">
        </div>

<h2>Documentation of Progress</h2>
<p>There were some problems that I encountered along the way whilst developing the website, including having trouble creating the graphs at first, with the images being saved of the graphs being left in venv instead of the folder I wanted it to be in.</p>
    <img src='../static/imagesavefail.png'>
<p>On top of this issue, there were issues developing the tabs on the website as they are unable to be clicked to distinguish between each one, despite the tab code being implemented.</p>
    <p>The graphs, although they were being saved as png files to add to the website, were not showing correctly at first as they were being saved to the wrong folder.</p>
    <img src="../static/graphsavefail.png">
    <h2>Future improvements</h2>
<p>For future improvements, I would like to find a way to filter out anomalies so that there is a clear trend in the line graph, as well as find a solution to the dates being in a strange format. I would also like to make it a lot more interactive when collecting data from the API so that users have the ability to pick and choose various fights and potentially even individual reports. I could also add the ability to go to the next page of character rankings so that there is a wider variety of results and therefore plot points for the line graph.</p>
</body>
</html>